# Build the real `.env` from this file before running the project.
# DO NOT COMMIT YOUR REAL `.env` FILE.


# Runtime
IS_BATCH_CALL=True
MAX_CONCURRENCY=50

# Agents
FORMAT_MAX_RETRIES=100

# LLMs
## OpenAI
OPENAI_API_BASE_URL=
OPENAI_API_KEY=
## Google
GEMINI_API_BASE_URL=
GEMINI_API_KEY=
## Anthropic
ANTHROPIC_API_BASE_URL=
ANTHROPIC_API_KEY=
## DashScope
DASHSCOPE_API_BASE_URL=
DASHSCOPE_API_KEY=
## DeepSeek
DEEPSEEK_API_BASE_URL=
DEEPSEEK_API_KEY=

