{# history #}{% if environment_feedback %}In the past, your choices and actual benefits were:
{{ environment_feedback }}{% endif %}

Now for the {{ experiment_round }} round.
{# price #}In this round, the price given is:
{{ price }}

{# inference #}Now, make your prediction and give reasons.
